body {
    width:1440px;
    height: 3318px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-family: Noto Sans JP;
    border: 1px solid;
}

#line-top {
  width: 100%;
  height: 20px;
  background-color: #38A1DB;  
}

#header-box {  
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 95px;
  background-color: #d4e514;  
}

#header_rogo {  
    width:65px;
    height: 65px;
    margin-top: 16px;
    margin-left: 50px;
}

#company_name {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 19px 30px;
  /* background-color: blue; */
}
 
#header_navi_01 {  
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 400px;
  
  padding: 0;
  margin: 35px 0 29px 543px;
}

#header_navi_01 a {
  display: inline-block;
  color: #444444;  
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;  
  font-weight: 400;
}

#header_navi_02 a { 
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 28px;
  padding: 6px 2px 0px 2px;
  margin: 30px 45px 0px 20px; 
  border-radius: 25px;
  background-color: #287199;
  color: white;  
  font-size: 14px;  
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
}

/* ヘッダーナビのホバー時に下線が左から右へ走るしくみ */
#header_navi_01 a:hover {
  color: #38A1DB; /* 文字色 */  
}

.animate-border-link {
  text-decoration: none; /* デフォルトの下線を非表示にする */  
  color: #38A1DB; /* 文字色 */
  background-image: linear-gradient(90deg, #38A1DB, #38A1DB); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 2px; /* 線の横幅を0、縦幅を1pxに */
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.animate-border-link:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}


/* ヘッダーナビのホバー時に下線が左から右へ走るしくみ ここまで*/



/* フッターここから */
#footer-box {
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 95px;
  background-color: #38A1DB;  
}

#footer_rogo {  
  width:65px;
  height: 65px;
  margin-top: 16px;
  margin-left: 50px;
}

#copyright {
  color: white; 
  font-size: 16px;  
  font-weight: 400;
  margin: 0 100px 0 506px;
  margin-top: 61px;
}

#footer_navi {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-self: flex-start; 
  width: 358px;
  margin: 37.28px 0 0 128px;  
  }

  #footer_navi a {
    font-size: 14px; 
    font-weight: 400;
    color: white; 
    text-decoration: none;
  }

  /* フッターーはこここまで */

  /* メインビジュアル　ここから */
  #main_copy {
    width: 100%;
    height: 600px;
    background-image: url("images/main_visual.jpg");
    background-size: cover; /* 背景画像がdivのサイズに合わせてカバーされます */
    background-position: center; /* 背景画像がdivの中心に表示されます */
  }
  
  #copy_01 {
    /* background-color: red; */
    width: 300px;
    padding-top: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  #copy_01 h1:nth-child(1) {
    display: inline-block;
    font-size: 148px;
    font-weight: 500;
    color: #0B368C;
    line-height: 1;
    padding: 0 0 0px 0px;
    margin: 0 0 0 0px;
  }

  #copy_01 h1:nth-child(2) {
    display: inline-block;
    font-size: 148px;
    font-weight: 500;
    color: #008FDB;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  #copy_02 {
    /* background-color: red; */
    width: 524px;    
  margin-left: auto;
  margin-right: auto;
  }

  #copy_02 h3:nth-child(1) {
    font-size: 64px;
    font-weight: 500;
    color: #008FDB;
    padding: 0 0 7px 0;; 
    margin: 0;
  }

  #copy_02 p:nth-child(2) {
    font-size: 28px;
    font-weight: 500;
    color: #0B368C;
    padding: 0;
    margin: 0;
  }

  /* メインビジュアル　ここまで */
  

/* 事業内容  ここから */
#business {
  width: 100%;
  height: 1120px;   
  /* height: 1520px;  */
  /* background-color: antiquewhite; */
  background-image: url("images/background-colorful.png");
  /* background-size: cover; 背景画像がdivのサイズに合わせてカバーされます */
  background-position: center; /* 背景画像がdivの中心に表示されます */
  }

  .space_px {
  width: 100%;
  height: 90px;
  margin: 0;
  background-color: #b1c4ce;
}

#business h1:nth-child(2),#advantage h1:nth-child(2){
  color: #444444;
  text-shadow: 5px 5px 4px #808080;
  width: 250px;
  text-align: center;
  height: 48px; /* 「事業内容」 */
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin: 0px auto 0px auto;
}

#business_container_first {
  display: flex;  
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
}

#business_container_second {
  display: flex;  
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
}

#digital_wrapper {
  display: inline-block;
  width: 550px;
  /* background-color: red; */
  margin-top: 60px;
  margin-left: 128px;
}

#seminar_wrapper {
  display: inline-block;  
  width: 550px;
  /* background-color: red; */
  margin-top: 130px;
  margin-right: 103px;
}

#chart {
  display: inline-block;
  width: 500px;
  margin-right: 130px;
}

#seminar-space {
  display: inline-block;
  width: 500px;
  margin-top: 107px;
  margin-left: 137px;
}

#digital {  
  display: flex;
  justify-content: space-around;
  width: 480px;
  margin-left: 15px;
}

#seminar {  
  display: flex;
  justify-content: space-around;
  width: 302.5px;
  margin-left: 76px;  
}

#digital img {  
  width: 45px;
  height: 43px;
  margin: 0px 0 0 40px;  
}

#seminar img {  
  width: 45px;
  height: 43px;
  margin: 0px 0 0 40px;  
}

#digital h1:nth-child(2) {  
  width: 350px;
  color: #0B368C ;
  text-shadow: none;
  font-size: 40px;  /* 「デジタル戦略策定」 */
  font-family: "Noto Sans JP", sans-serif;
  font-weight:500;
  padding: 0;
  margin: 0;
}

#seminar h1:nth-child(2) {  
  width: 170px;
  padding: 0;
  margin: 0;
  color: #0B368C ;
  text-shadow: none;
  font-size: 40px;  /* 「人材育成」 */
  font-family: "Noto Sans JP", sans-serif;
  font-weight:500;
  padding: 0;
  margin: 0;
}

#digital_explain01 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

#seminar_explain01 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

.check_mark {
  width: 26px;
  height: 26px;
}

#digital_explain01 p:nth-child(2) {
 width: 490px;
  font-size: 26px;
  line-height: 1;
  padding: 0;  
  margin:0;  
}

#seminar_explain01 p:nth-child(2) {
  width: 500px;
   font-size: 26px;
   line-height: 1;
   padding: 0;  
   margin:0;  
 }

#digital_explain02 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

#seminar_explain02 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

#digital_explain02 p:nth-child(2) {
  width: 500px;
   font-size: 26px;
   line-height: 1;
   padding: 0;  
   margin: 0;  
 }

 #seminar_explain02 p:nth-child(2) {
  width: 500px;
   font-size: 26px;
   line-height: 1;
   padding: 0;  
   margin: 0;  
 }
  /* 事業内容  ここまで */



  /* 当社の強み  ここから */
  #advantage {
    width: 100%;
    height: 1500px;
    background: #fff;
    border: 1px solid;
  }




  /* 当社の強み  ここまで */
  #item_01 {
    width: 374px;
    height: 538px;
    border: 5px solid;
    border-color: #38A1DB;
  }

  #item_01 > h1 {
    width: 59px;
    height: 72px;    
    color: rgba(175, 204, 219, 0.6);   /* テキストのぼかし・シャドウ */
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);  /* テキストを斜体にするプロパティ */    
    transform: skewX(-27deg);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 50px;  
    font-weight: 600;
    padding: 0;
    margin: 8px 0 0 15px;   
    line-height: 1;
  }

  #item_01 > img {
    width: auto;
    height: auto;  
    padding: 0;
    margin: 5px 0 60px 98px;    
    line-height: 1;    
  }

  #item_01 > h3 {
    width: 288px;
    height: 70px;
    color: #287199;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 24px;  
    font-weight: 500;
    padding: 0;
    margin: 0 auto;    
  }

  #item_01 > p {
    width: 285px;
    height: 161px;
    color: #444444;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;  
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;    
  }