body {
    max-width:1260px;
    min-width: 950px;
    height: auto;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-family: Noto Sans JP;
    border: 1px solid;
}

#line-top {
  width: 100%;
  height: 20px;
  background-color: #38A1DB;  
}

#header-box {  
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 95px;
  background-color: #d4e514;  
}

#header_rogo {  
    width:65px;
    height: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

#company_name {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 20px 30px;
  /* background-color: blue; */
}
 
#header_navi_01 {  
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 500px;  
  padding: 0;
  margin: 38px 0 35px 343px;
}

#header_navi_01 a {
  display: inline-block;
  color: #444444;  
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;  
  font-weight: 400;
  /* width: 90px; */
  
  margin-left: 10px;
  text-align: center;
}

#header_navi_02 a { 
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 28px;
  padding: 6px 2px 0px 2px;
  margin: 30px 30px 0px 20px; 
  border-radius: 25px;
  background-color: #287199;
  color: white;  
  font-size: 14px;  
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
}

#header_navi_01 a:hover {
  color: #38A1DB; /* 文字色 */  
}

/* ヘッダーナビのホバー時に下線が左から右へ走るしくみ */
.animate-border-link {
  text-decoration: none; /* デフォルトの下線を非表示にする */  
  color: #38A1DB; /* 文字色 */
  background-image: linear-gradient(90deg, #38A1DB, #38A1DB); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 2px; /* 線の横幅を0、縦幅を1pxに */
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.animate-border-link:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}

#footer_navi a:hover {
  border-bottom: 1px solid;
}

/* ヘッダーナビのホバー時に下線が左から右へ走るしくみ ここまで*/


/* フッターここから */
#footer-box {
  display: flex;
  align-self: flex-start;
  width: 100%;
  height: 95px;
  background-color: #38A1DB;  
}

#footer_rogo {  
  width:65px;
  height: 65px;
  margin-top: 16px;
  margin-left: 30px;
}

#copyright {
  color: white; 
  font-size: 12px;  
  font-weight: 400;
  width: 200px;
  text-align: center;
  margin-top: 69px;
  margin-left: 412.5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#footer_navi {
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-self: flex-start; 
  width: 400px;
  margin: 38px 15px 0 128px;  
  }

  #footer_navi a {
    font-size: 14px; 
    font-weight: 400;
    color: white; 
    text-decoration: none;
    margin: 0 15px;
  }

  /* フッターーはこここまで */

  /* メインビジュアル　ここから */
  #main_copy {
    width: 100%;
    height: 600px;
    background-image: url("images/main_visual.jpg");
    background-size: cover; /* 背景画像がdivのサイズに合わせてカバーされます */
    background-position: center; /* 背景画像がdivの中心に表示されます */
  }
  
  #copy_01 {
    /* background-color: red; */
    width: 300px;
    padding-top: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  #copy_01 h1:nth-child(1) {
    display: inline-block;
    font-size: 148px;
    font-weight: 500;
    color: #0B368C;
    line-height: 1;
    padding: 0 0 0px 0px;
    margin: 0 0 0 0px;
  }

  #copy_01 h1:nth-child(2) {
    display: inline-block;
    font-size: 148px;
    font-weight: 500;
    color: #008FDB;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  #copy_02 {
    /* background-color: red; */
    width: 524px;    
  margin-left: auto;
  margin-right: auto;
  }

  #copy_02 h3:nth-child(1) {
    font-size: 64px;
    font-weight: 500;
    color: #008FDB;
    padding: 0 0 7px 0;; 
    margin: 0;
  }

  #copy_02 p:nth-child(2) {
    font-size: 28px;
    font-weight: 500;
    color: #0B368C;
    padding: 0;
    margin: 0;
  }

/* メインビジュアル　ここまで */
  

/* 事業内容  ここから */
#business {
  width: 100%;
  height: 1120px;   
  /* height: 1520px;  */
  /* background-color: antiquewhite; */
  background-image: url("images/background-colorful.png");
  /* background-size: cover; 背景画像がdivのサイズに合わせてカバーされます */
  background-position: center; /* 背景画像がdivの中心に表示されます */
  }

  .space_px {
  width: 100%;
  height: 90px;
  margin: 0;
  /* background-color: #b1c4ce; */
  }

#business h1:nth-child(2),#advantage h1:nth-child(2){
  color: #444444;
  text-shadow: 5px 5px 4px #808080;
  width: 250px;
  text-align: center;
  height: 48px; /* 「事業内容」 */
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin: 0px auto 0px auto;
}

#business_container_first {
  display: flex;  
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
}

#business_container_second {
  display: flex;  
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
}

#digital_wrapper {
  display: inline-block;
  width: 550px;
  /* background-color: red; */
  margin-top: 60px;
  margin-left: 64px;
}

#seminar_wrapper {
  display: inline-block;  
  width: 550px;
  /* background-color: red; */
  margin-top: 130px;
  margin-right: 30px;
}

#chart {
  display: inline-block;
  width: 500px;
  margin-right: 65px;
}

#seminar-space {
  display: inline-block;
  width: 500px;
  margin-top: 107px;
  margin-left: 90px;
}

#digital {  
  display: flex;
  justify-content: space-around;
  width: 480px;
  margin-left: 15px;
}

#seminar {  
  display: flex;
  justify-content: space-around;
  width: 302.5px;
  margin-left: 76px;  
}

#digital img {  
  width: 45px;
  height: 43px;
  margin: 0px 0 0 40px;  
}

#seminar img {  
  width: 45px;
  height: 43px;
  margin: 0px 0 0 40px;  
}

#digital h1:nth-child(2) {  
  width: 350px;
  color: #0B368C ;
  text-shadow: none;
  font-size: 40px;  /* 「デジタル戦略策定」 */
  font-family: "Noto Sans JP", sans-serif;
  font-weight:500;
  padding: 0;
  margin: 0;
}

#seminar h1:nth-child(2) {  
  width: 170px;
  padding: 0;
  margin: 0;
  color: #0B368C ;
  text-shadow: none;
  font-size: 40px;  /* 「人材育成」 */
  font-family: "Noto Sans JP", sans-serif;
  font-weight:500;
  padding: 0;
  margin: 0;
}

#digital_explain01 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

#seminar_explain01 {
  display: flex;
  justify-content: space-between; 
  width: 535px;  
  margin-top: 50px;
}

.check_mark {
  width: 26px;
  height: 26px;
}

#digital_explain01 p:nth-child(2) {
 width: 490px;
  font-size: 26px;
  line-height: 1;
  padding: 0;  
  margin:0;  
}

#seminar_explain01 p:nth-child(2) {
  width: 500px;
   font-size: 26px;
   line-height: 1;
   padding: 0;  
   margin:0;  
 }

#digital_explain02 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

#seminar_explain02 {
  display: flex;
  justify-content: space-between; 
  width: 541px;  
  margin-top: 50px;
}

#digital_explain02 p:nth-child(2) {
  width: 500px;
   font-size: 26px;
   line-height: 1;
   padding: 0;  
   margin: 0;  
 }

 #seminar_explain02 p:nth-child(2) {
  width: 500px;
   font-size: 26px;
   line-height: 1;
   padding: 0;  
   margin: 0;  
 }
  /* 事業内容  ここまで */


  /* 当社の強み  ここから */
  #advantage {
    width: 100%;
    height: 792px;
    background: #fff;
    border: 1px solid;
  }

  #advantage_container{
    display: flex;
    justify-content: center;
  }

  #item_01,
  #item_02,
  #item_03 {
    width: 374px;
    height: 560px;
    border: 3px solid;
    border-color: #38A1DB;
    margin: 0 10px;
  }

  #item_01 > h1,
  #item_02 > h1,
  #item_03 > h1 {
    width: 59px;
    height: 72px;    
    color: rgba(175, 204, 219, 0.6);   /* テキストのぼかし・シャドウ */
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);  /* テキストを斜体にするプロパティ */    
    transform: skewX(-27deg);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 50px;  
    font-weight: 600;
    padding: 0;
    margin: 8px 0 0 15px;   
    line-height: 1;
  }

  #item_01 > img {
    width: auto;
    height: auto;  
    padding: 0;
    margin: 27px 0 60px 98px;    
    line-height: 1;    
  }

  #item_02 > img {
    width: 90px;
    height: 107px;  
    padding: 0;
    margin: 9px 0 63px 145px;    
    line-height: 1;  
  }

  #item_03 > img {
    width: 90px;
    height: 107px;  
    padding: 0;
    margin: 9px 0 63px 145px;    
    line-height: 1;  
  }


  #item_01 > h3,
  #item_02 > h3,
  #item_03 > h3 {
    width: 288px;
    height: 70px;
    color: #287199;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 24px;  
    font-weight: 500;
    padding: 0;
    margin: 0 auto;    
  }

  #item_01 > p,
  #item_02 > p,
  #item_03 > p {
    width: 285px;
    height: 161px;
    color: #444444;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;  
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;    
  }
   /* 当社の強み  ここまで */

/* 新着情報・お知らせ */
#news {
width: 100%;
height: 700px;
}

#news h3 {
  color: #444444;
  font-size: 24px;
  font-family: Noto Sans JP;
  font-weight: 500;
}

/* 左右に横線をうまく引く設定 */
.title-news {
  align-items: center; /* 横線を上下中央 */
  display: flex; /* 文字と横線を横並び */
  justify-content: center; /* 文字を中央寄せ */
}

.title-news::before,
.title-news::after {
  background-color: #0B368C; /* 横線の色 */
  content: "";
  height: 3px; /* 横線の高さ */
  width: 300px; /* 横線の長さ */
}
.title-news::before {
  margin-right: 15px; /* 文字との余白 */
}
.title-news::after {
  margin-left: 15px; /* 文字との余白 */
}

 
/* お問い合わせページ　ここから */
#contact-info {
  width: 100%;
  height: 1500px;
}

#contact-info > p {
  font-size: 16px;
  padding: 0;
  margin: 0 0 50px 0;
}

/* 各ページヘッダー下の水色帯 */
.wrapper {
  width: 100%;
  height: 176px;
  background-color: #38A1DB;
}

/* お問い合わせページのタイトル */
#title-contact_j,
#title-news_detail_j {   
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-family: Noto Sans JP;
  font-weight: 400;
  margin: 0;
  line-height: 1; 
  padding: 42px 0 0 0;
}

/* お知らせ一覧ページのタイトル */
/* 会社情報ページのタイトル */
#title-news_press_j,
#title-company_j {
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-family: Noto Sans JP;
  font-weight: 400;
  margin: 0;
  line-height: 1; 
  padding: 49px 0 0 0;
}

/* お問い合わせページのタイトル 英 */
#title-contact_e {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: Noto Sans JP;
  font-weight: 400;
  margin: 0;
  line-height: 1; 
  padding: 6px 0 0 0;
}

/* お知らせ一覧ページのタイトル 英*/
/* 会社情報ページのタイトル 英*/
#title-news_press_e,
#title-news_detail_e,
#title-company_e {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: Noto Sans JP;
  font-weight: 400;
  margin: 0;
  line-height: 1; 
  padding: 6px 0 0 0;
}

/* パンくずリスト ここから*/
.breadcrumb li {
  display: inline-block;
}

#rumb_01,
#news-company_01,
#news-rumb_01,
#news_detail-rumb_01 {
  color: #444444;
}

#rumb_01:hover {
  color: #38A1DB; /* 文字色 */  
}

#news-rumb_01:hover {
  color: #38A1DB; /* 文字色 */  
}

#news_detail-rumb_01:hover {
  color: #38A1DB; /* 文字色 */  
}

#rumb_02,
#news-company_02,
#news-rumb_02{
  color: #38A1DB;
  text-decoration: none;  
}

#news_detail-rumb_02 {
  color: #444444;
  text-decoration: none;  
}

#news_detail-rumb_02:hover {
  color: #38A1DB; /* 文字色 */    
}

#news_detail-rumb_03 {
  color: #38A1DB; /* 文字色 */  
}

.breadcrumb li:nth-child(2)::before {
  content: '　＞　';
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  font-size: 1em;
  color: #444444;
}

.breadcrumb li:last-child::before {
  content: '　＞　';
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  font-size: 1em;
  color: #38A1DB;
}
/* パンくずリスト ここまで*/

#contact-info {
  width: 100%;
  height: 1087px;
}

#contact-info_container {
  width: 1110px;  
  margin-left: auto;
  margin-right: auto;
}

form p {
  padding: 0;
  margin: 115px 0 50px 0;
}

form label {
  text-align: center;
  font-size: 16px;
  font-family: Noto Sans JP;
  font-weight: 400;
}

.required-item {
  background-color: #FFBB00;
  width: 60px;
  height: 27px;
  padding: 0 10px 2px 10px;
  margin: 0;  
  line-height: 1;
}

.any-item {
  background-color: #AFCCDB;
  width: 60px;
  height: 27px;
  padding: 0 10px 2px 10px;
  margin: 0;
  line-height: 1;
}

.item-name {
  width: 130px;
  height: 31px;
  padding: 0 6px;
  /* margin: 0 120px 0 0;     */
}

.input_field {
  width: 834px;
  height: 2em;    /* emは親要素のフォントサイズを1とする単位 */
  font-size: 16px;
  font-family: Noto Sans JP;
  font-weight: 400;
  margin-bottom: 50px;
}

 textarea {
  width: 834px;
  height: 10em;
  font-size: 16px;
  font-family: Noto Sans JP;
  font-weight: 400;  
} 

#detail {
  display: flex;
  align-items: baseline;
  margin: 0 0 100px 0;
}

#detail label:nth-child(1) {
  background-color: #FFBB00;
  width: 52px;
  height: 21px;
  padding: 3.5px 0 0.5px 0px;
  margin: 0;  
  line-height: 1;
}

#detail label:nth-child(2) {
  width: 130px;
  height: 31px;
  padding: 0 0 0 10px;
  margin-right: 72px;
}

/* #button {
  margin: 0 auto 0 auto;  
} */

#submit-btn-wrapper {
  text-align: center;  
}

.submit-btn {
  background-color: #FFBB00; /* オレンジ系の色 */
  border: none;               /* 枠線なし */
  width: 191px;               /* 幅 */
  height: 48.15px;            /* 高さ */
  clip-path:polygon(0% 0, 100% 0, 89.39% 100%, 0 100%); /* 右下の端を少しカット */
  font-family: sans-serif;    /* フォントファミリーを指定（必要に応じて変更してください） */
  display: inline-flex;       /* ボタン内の要素を横並びにする */
  align-items: center;        /* 中心に合わせる */
  padding: 0 0 0 72px;    
}

.submit-arrow {
  margin-left: 55px; /* アイコンとテキストの間隔 */
}

/* お問い合わせページ  ここまで */

/* お知らせ一覧ページ */
#news_press {
  font-size: 30px;
}

#news-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.before-icon {
 padding: 10px 0 0 0;
 margin: 0;
}

.to_detail { 
 width: 16px;
 height: 16px;
 margin: 0;
 padding: 0;
 line-height: 1px;
}

/* 会社情報ページ ここから */
#table-overview {
  margin: 50px auto;
}

#height_100 {
  width: 100%;
  height: 100px;
  margin: 0;
  /* background-color: #b1c4ce; */
  }

#overview h1 {
  font-size: 40px;
  font-family: Noto Sans JP;
  font-weight: 300;
  margin: 0 auto 50px auto;
  width: 200px;
  text-align: center;   
}

table {
  width: 860px; 
}

table, td{
  border-collapse: collapse;
  border:1px solid #333;
}

td { 
  height: 57.5px;
} 

#Number-of-employees,
#sales {
 height: 86px;
}

.item,.plant {
  width: 232px;
  text-align: center;
}

.content {
  width: 856px;
}

.content span {
  margin-left: 16px;
}

#table-plant {
  margin: 50px auto 200px auto;  
}

.address {
  width: 392px;
  height: 109px;  
}

.phone {
  width: 232px;  
}

.address span {
  margin-left: 16px;
}

.phone span {
  margin-left: 16px;
}

/* 会社情報ページ ここまで */

/* お知らせ詳細  ここから */

#news_detail_wrapper {
  display: inline-block;
}

#slug_and_title{
  display: flex;
  justify-content: center;
  width: 800px;
}

#news_detail_wrapper span {  
  width: 100px;
  font-size: 24px;
  font-family: Noto Sans JP;
  font-weight: 400;
}

#news_detail_wrapper h1 {
  width: 700px;
  font-size: 36px;
  font-family: Noto Sans JP;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

#news_detail_wrapper p:nth-child(1) {
  width: 150px;
  font-size: 16px;
  font-family: Noto Sans JP;
  font-weight: 400;
}

#news_detail_wrapper p:nth-child(2) {

}

#sidebar-slug_and_title {
  display: inline-block;
  width: 350px;
  font-size: 16px;
  font-family: Noto Sans JP;
  font-weight: 400;
}

#sidebar-slug_and_title a:nth-child(1) {
  display: inline-block;
}

#sidebar-slug_and_title span {
  display: inline-block;
}

#sidebar-slug_and_title p {
  display: inline-block;
  width: 100px;
  margin: 0 0 0 0;
}
/* お知らせ詳細  ここまで*/